/*
css从html分离原因：
    html作为骨架，css作为美化
    1.方便修改  2.只有一个链接方便加载（优先加载html）
    3.重复使用
*/

body {
    padding-left: 11em; /*空左半边11em*/ 
    /*所有字体颜色和背景颜色*/
    font-family: Georgia, "Times New Roman",Times, serif;
    color: purple;
    background-color: #d8da3d }
  ul.navbar {
    /*去除左边排序点*/
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*导引布局变更*/
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
      font-family: Helvetica, Geneva, Arial,SunSans-Regular, sans-serif }
  ul.navbar li {
      /*导引的背景色 边框 间距 */
      background: white;
      margin: 0.5em 0;
      padding: 0.3em;
      border-right: 1em solid black }
  ul.navbar a {
      /*去除下划线*/
      text-decoration: none }
  a:link {
      /*导引被点击前颜色*/
      color: blue }
  a:visited {
      /*导引被点击后颜色*/
      color: purple }
  address {
      /*正文和底部增加虚线*/
      margin-top: 1em;
      padding-top: 1em;
      border-top: thin dotted }